*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    height: 8rem;
    padding: 2rem 4rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo{
    max-width: 16rem;
}

.hero{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.hero-img{
    max-width: 50rem;
    align-self: center;
    margin: 2rem;
}

.hero > h1 {
    font-size: 3rem;
    margin: 2rem;
}

.hero > p {
    font-size: 1.5rem;
    margin: 1rem;
}

.cards--container{
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    overflow-x: auto;
}

.card{
    width: 16rem;
    font-size: 1rem;
    flex: 0 0 auto;        
    display: flex;         
    flex-direction: column;
    position: relative;
}

.card-title{
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-image{
    width: 100%;
    border-radius: 1rem;
}

.card-stats{
    display: flex;
    align-items: center;
}

.gray{
    color: gray;
}

.card-star{
    height: 1rem;
}

.bold{
    font-weight: bold;
}